server:
  port: 8080

spring:
  application:
    name: user-service

  cloud:
    discovery:
      enabled: true

  data:
    redis:
      host: redis
      port: 6379
      password: ${REDIS_PASSWORD}
      timeout: 2s

  datasource:
    url: ${POSTGRESQL_URL}
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

todaybook:
  security:
    mvc:
      enabled: true

eureka:
  instance:
    prefer-ip-address: true
    ip-address: ${EUREKA_INSTANCE_IP_ADDRESS:}
    non-secure-port: ${EUREKA_INSTANCE_NONSECUREPORT}
    instance-id: ${spring.application.name}:${eureka.instance.ip-address:${spring.cloud.client.ip-address}}:${eureka.instance.non-secure-port}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://ip-10-0-10-218.ap-northeast-2.compute.internal:9100/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
        exclude: env, heapdump, beans,loggers
      base-path: /internal
  endpoint:
    health:
      show-details: never
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}