spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/todaybook
    username: todaybook
    password: todaybook1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.todaybook.userservice: DEBUG