server:
  port: 9006

spring:
  application:
    name: user-service

  data:
    redis:
      host: redis
      port: 6379
      password: ${DEV_REDIS_PASSWORD}
      timeout: 2s

  datasource:
    url: ${POSTGRESQL_URL}
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

todaybook:
  security:
    mvc:
      enabled: true

logging:
  level:
    org.springframework.security: DEBUG