spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        hbm2ddl.create_namespaces: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.todaybook.userservice: DEBUG