server:
  port: 8080

spring:
  application:
    name: user-service

  cloud:
    discovery:
      enabled: true

  data:
    redis:
      host: redis
      port: 6379
      password: ${REDIS_PASSWORD}
      timeout: 2s

  datasource:
    url: ${POSTGRESQL_URL}
    username: ${POSTGRESQL_USERNAME}
    password: ${POSTGRESQL_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

todaybook:
  security:
    mvc:
      enabled: true

eureka:
  instance:
    hostname: ${spring.application.name}
    prefer-ip-address: false
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:9100/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
        exclude: env, heapdump,beans,loggers
      base-path: /internal
  endpoint:
    health:
      show-details: never
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}