name: Deploy to Amazon EC2

on:
  push:
    tags:
      - '*'

env:
  APP_NAME: user-service
  REGISTRY: ghcr.io
  IMAGE_NAME: today-book/user-service
  VERSION: ${{ github.ref_name }}
  PROFILE:

jobs:
  Deploy:
    environment: dev
    name: Build Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Build with Gradle
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          chmod +x gradlew
          ./gradlew build -x test

      - name: Log into Github container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "IMAGE_URI=$IMAGE" >> $GITHUB_ENV

      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.DEV_REMOTE_IP }}
          username: ${{ secrets.DEV_REMOTE_USER }}
          key: ${{ secrets.DEV_REMOTE_PRIVATE_KEY }}
          port: ${{ secrets.DEV_REMOTE_SSH_PORT }}
          script: |
            echo "배포 시작"
            sudo docker stop ${{ env.APP_NAME }} || true
            sudo docker rm ${{ env.APP_NAME }} || true
            sudo docker images | grep "${{ env.APP_NAME }}" | awk '{print $3}' | tail -n +4 | xargs -r sudo docker rmi || true
            
            echo "GHCR 로그인"
            echo "${{ secrets.GITHUB_TOKEN }}" | sudo docker login ghcr.io -u "${{ github.actor }}" --password-stdin
            
            echo "이미지 pull"
            sudo docker pull ${{ env.IMAGE_URI }}
            
            sudo docker run -d --name ${{ env.APP_NAME }} -p 9006:9006  \
            --network internal-net \
            -e SPRING_PROFILES_ACTIVE=${{ env.PROFILE }} \
            -e POSTGRESQL_URL=${{ secrets.DEV_POSTGRESQL_URL }} \
            -e POSTGRESQL_USERNAME=${{ secrets.DEV_POSTGRESQL_USERNAME }} \
            -e POSTGRESQL_PASSWORD=${{ secrets.DEV_POSTGRESQL_PASSWORD }} \
            ${{ env.IMAGE_URI }}